#parent-dropdown{
    position: relative;
}

#dropdown-dashboard{
    position: absolute;
    width: 100px;
    height: auto;
    right: 0px;
    top: 55px;
    display: none;
    width: 115px;
}

#dropdown-dashboard-user{
    position: absolute;
    width: 140px;
    height: auto;
    right: 0px;
    top: 55px;
    display: none;
}

#confirmation-modal{
    display: none;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 7px;
    padding: 10px 15px;
    flex-direction: column;
}