#parent-dropdown{
    position: relative;
}

#dropdown-dashboard{
    position: absolute;
    width: 100px;
    height: auto;
    right: 0px;
    top: 55px;
    display: none;
    width: 115px;
    z-index: 1000;
}

#dropdown-dashboard-user{
    position: absolute;
    width: 140px;
    height: auto;
    right: 0px;
    top: 55px;
    display: none;
    z-index: 1000;
}

#confirmation-modal{
    display: none;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 7px;
    padding: 10px 15px;
    flex-direction: column;
}

html,
body {
  position: relative;
  height: 80%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-landing {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#swiper-image-landing {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}